<div class="card">
    <div class="flex-container card-header">
        <div class="flex-item">
            <div class="title">
                <h5><strong>EDIT</strong></h5>
            </div>
        </div>
          <div class="flex-item">
            <div class="hide">
                <input type="image" src="assets/exit-icon.png" alt="Hide" height="30" width="30" (click)="hide()">
            </div>
        </div>
          </div>

  <div class="card-body">
            <form [formGroup]="capabilityStrategyItem" (ngSubmit)="onSubmit()">         
            <div class="form-group">
            <label> Strategic Emphasis <span class="red">*</span></label>
            <div>
            <select class="custom-select" formControlName='strategicEmphasis' required>
            <option *ngFor="let type of eSe | keyvalue" [ngValue]="type.value">{{type.value}}</option>
          </select>
        </div>
        </div>
        <br>
        <div *ngIf="capabilityStrategyItem.get('strategicEmphasis')!.invalid && (capabilityStrategyItem.get('strategicEmphasis')!.dirty || capabilityStrategyItem.get('strategicEmphasis')!.touched)" class="alert alert-danger alertdiv">
            <div *ngIf="capabilityStrategyItem.get('strategicEmphasis')!.errors!.required">
                Strategic Emphasis is required.
            </div>

        </div>
        <div class="center">
        <button type="submit" class="btn btn-success" [disabled]="!capabilityStrategyItem.valid">Edit</button>
    </div>

</form>
</div>
</div>