<div class="container">
    <h1>Edit Strategy Item to capability</h1><br>
    <form [formGroup]="capabilityStrategyItem" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label> Strategic Emphasis</label>
            <select class="select1" formControlName='strategicEmphasis' required>
            <option *ngFor="let type of eSe | keyvalue" [ngValue]="type.value">{{type.value}}</option>
          </select>
        </div>
        <br>
        <div *ngIf="capabilityStrategyItem.get('strategicEmphasis')!.invalid && (capabilityStrategyItem.get('strategicEmphasis')!.dirty || capabilityStrategyItem.get('strategicEmphasis')!.touched)" class="alert alert-danger alertdiv">
            <div *ngIf="capabilityStrategyItem.get('strategicEmphasis')!.errors!.required">
                Strategic Emphasis is required.
            </div>

        </div>
        <button type="submit" class="btn btn-danger form-control" [disabled]="!capabilityStrategyItem.valid">Edit</button>
        <br><br><br><br><br>

    </form>
</div>