<main class="main">
    <h1>Business Process of the Capability</h1>
    <br>
    <div class="flex-container">
        <div class="flex-item">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" *ngIf="(jwt.checkRole() != 'reader')"></th>
                        <th scope="col">NAME</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let capabilitybusinessprocess of capabilityBusinessProcesses">
                        <td *ngIf="(jwt.checkRole() != 'reader')">
                            <a>
                                <img src='assets/delete-icon.png' alt="Delete" width='20' height='20' (click)="show('capbsprocess-delete',capabilitybusinessprocess )">
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-light" role="button" [routerLink]="['/businessprocess']">
                                {{capabilitybusinessprocess.businessProcess.name}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <br>
                <div class="flex-container" style="margin-bottom: 0px;">
                    <div class="flex-item" *ngIf="!showcapabilityBusinessProcessesAdd">

                        <button *ngIf="(jwt.checkRole() != 'reader')" type="button" class="btn btn-danger" (click)="show('capbsprocess-add')">ADD BUSINESS
                            PROCESS</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="flex-item">
            <app-capability-businessprocess-add *ngIf="showcapabilityBusinessProcessesAdd">
            </app-capability-businessprocess-add>


            <app-capability-businessprocess-delete *ngIf="showcapabilityBusinessProcessesDelete" [capabilityBusinessProcessesCurrentValues]="capabilityBusinessProcessesCurrentValues">
            </app-capability-businessprocess-delete>


        </div>

    </div>
</main>