<main class="main">
    <div class="flex-container">
        <div class="flex-item">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">NAME</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let capabilitybusinessprocess of capabilityBusinessProcesses">
                            <td>
                                <a [routerLink]="['../capability-businessprocess/delete/', capabilitybusinessprocess.id]">
                                    <img src='assets/delete-icon.png' alt="Delete" width='20' height='20'>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-light" role="button" [routerLink]="['/businessprocess/edit/', capabilitybusinessprocess.businessProcess.id]">
                                {{ capabilitybusinessprocess.businessProcess.name }}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-danger" [routerLink]="['../capability-businessprocess/add']">ADD BUSINESS PROCESS</button>
</main>