html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 60px;
}

.footer {
    background-color: red;
    color: white;
    text-align: center;
    flex-shrink: 0;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.content {
    flex: 1 0 auto;
}

.img {
    height: 25px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.nav-custom {
    background-color: red;
}

.btn-big {
    margin-top: 0px;
    border-radius: 0px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:hover,
input[type="submit"]:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-white {
    background: transparent;
    color: #fff !important;
}

.btn-white:hover {
    border: solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.btn-color {
    background: transparent;
}

.btn-color:hover {
    color: #fff;
}

.dropdown {
    background: transparent;
    border: none;
    top: 4px;
}

.color {
    color: white
}

.navbar-navright {
    margin-left: 490%;
}