<div class="card">
  <div class="flex-container card-header">
      <div class="flex-item">
          <div class="title">
              <h5><strong>EDIT {{ strCurrentValues.name }}</strong></h5>
          </div>
      </div>
        <div class="flex-item">
          <div class="hide">
              <input type="image" src="assets/exit-icon.png" alt="Hide" height="30" width="30" (click)="hide()">
          </div>
      </div>
        </div>
        <div class="card-body">
          <form [formGroup]="strEditForm" (ngSubmit)="onSubmit()">
          <!-- Name -->
          <div class="form-group">
            <label for="name">Name <span class="red">*</span></label>
            <input id="name" type="text" class="form-control" formControlName="name" required>
            <!-- Name field validation errors -->
            <div class="alert alert-danger center" *ngIf="strEditForm.get('name')!.invalid && (strEditForm.get('name')!.dirty || strEditForm.get('name')!.touched)">
              <div *ngIf="strEditForm.get('name')!.errors!.required">
                  Name is required.
              </div>
          </div>
          </div>
    
          <div class="form-group">
            <label for="timeframeFrom">Timeframe from <span class="red">*</span></label>
            <input id="timeframeFrom" type="date" class="form-control" formControlName="timeframeFrom" required>
            <!-- description field validation errors -->
            
          </div>
  
  
          <div class="form-group">
            <label for="timeframeTo">Timeframe to <span class="red">*</span></label>
            <input id="timeframeTo" type="date" class="form-control" formControlName="timeframeTo" required>
          
          </div>
          <!-- Submit button -->
          <div class="center">
            <button type="submit" class="btn btn-success" [disabled]="strEditForm.invalid">EDIT</button>
          </div>
        </form>
    </div>
</div>

  