<div class="container">
   <br> <h1>Edit Strategy</h1><br>
  
  <form [formGroup]="strategyForm" (ngSubmit)="onSubmit()">
    <div class='form-group w-50'>
      <div class="custom">
        <input type='text' formControlName='name' required/>
        <label>Name</label>
      </div>
    </div> 
    <br>
    <br>
    <div class='form-group w-50'>
      <div class="custom">
       
        <input type='date' formControlName='timeframeFrom'required/>

        <label>Timeframe from</label>
      </div>
        <br>
        
    </div>  
    <br>
    <div class='form-group w-50'>
      <div class="custom">
       
        <input type='date' formControlName='timeframeTo' required/>

        <label>Timeframe to</label>
      </div>
        <br>
    </div>  
    <button type="submit" class="btn btn-danger form-control" [disabled]="!strategyForm.valid">Edit</button>
    <br><br><br><br><br>
  </form>
  </div>
  
