.custom{
    position: absolute;
    
 }
 
 button{
     width: 25%;
 }

 .alertdiv{
     width: 50%;
 }

 input {
     border: 0px;
     border-bottom: 3px solid red;
     outline: none;
     background: white;
     padding: 0px;
     width: 150%;
     
 }

 input + label {
        
position: absolute;
top: 0px;
color: rgb(124, 116, 116);
pointer-events: none;
transition: .3s linear;
font-size: 17px;
 }
 
 input:focus + label {
         top: -16px;
         font-size: 15px;
 }
 
 input:required:valid +label {
         top: -16px;
         font-size: 15px;
 }


 input:invalid +label {
    top: -16px;
    font-size: 15px;
}