<!-- Form -->
<form [formGroup]="capAddForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header center">
      <h5 *ngIf="cap == null"><strong>ADD CAPABILITY Lv1</strong></h5>
      <h5 *ngIf="cap != null && cap.level == '1'"><strong>ADD CAPABILITY Lv2</strong></h5>
      <h5 *ngIf="cap != null && cap.level == '2'"><strong>ADD CAPABILITY Lv3</strong></h5>
    </div>
    <div class="card-body">
      <!-- Name -->
      <div class="form-group">
        <label for="name">Name <span class="red">*</span></label>
        <input id="name" type="text" class="form-control" formControlName="name" required>
        <!-- Name field validation errors -->
        <div class="alert alert-danger center" *ngIf="name!.invalid && (name!.dirty || name!.touched)">
          <div *ngIf="name!.errors!.required">
            Name is required.
          </div>
          <div *ngIf="name!.errors!.pattern">
            Name should only consist out of characters from the alphabet.
          </div>
        </div>
      </div>
      <!-- Pace of Change -->
      <div class="form-group">
        <label for="paceOfChange">Pace of Change <span class="red">*</span></label>
        <select id="paceOfChange" class="form-control" formControlName='paceOfChange' required>
          <option *ngFor="let type of ePoc | keyvalue" [ngValue]="type.value">{{ type.value }}</option>
        </select>
        <!-- Pace of Change dropdown validation errors -->
        <div class="alert alert-danger center"
          *ngIf="paceOfChange!.invalid && (paceOfChange!.dirty || paceOfChange!.touched)">
          <div *ngIf="paceOfChange!.errors!.required">
            Pace of Change is required.
          </div>
        </div>
      </div>
      <!-- Target Operation Model -->
      <div class="form-group">
        <label for="targetOperationModel">Target Operation Model <span class="red">*</span></label>
        <select id="targetOperationModel" class="form-control" formControlName='targetOperationModel' required>
          <option *ngFor="let type of eTom | keyvalue" [ngValue]="type.value">{{ type.value }}</option>
        </select>
        <!-- Target Operation Model dropdown validation errors -->
        <div class="alert alert-danger center"
          *ngIf="targetOperationModel!.invalid && (targetOperationModel!.dirty || targetOperationModel!.touched)">
          <div *ngIf="targetOperationModel!.errors!.required">
            Target Operation Model is required.
          </div>
        </div>
      </div>
      <!-- Resources Quality -->
      <div class="form-group">
        <label for="resourcesQuality">Resources Quality</label>
        <input id="resourcesQuality" type="text" class="form-control" formControlName="resourcesQuality">
        <!-- Resources Quality field validation errors -->
        <div class="alert alert-danger center"
          *ngIf="resourcesQuality!.invalid && (resourcesQuality!.dirty || resourcesQuality!.touched)">
          <div *ngIf="resourcesQuality!.errors!.pattern">
            Resources Quality should be a number between 1 and 5:<br>(1 = poor, 3 = fair, 5 = good).
          </div>
        </div>
      </div>
      <!-- Submit button -->
      <div class="center">
        <button type="submit" class="btn btn-success" [disabled]="capAddForm.invalid">ADD</button>
      </div>
    </div>
  </div>
</form>