.custom{
    position: absolute;
    
 }
 
 button{
     width: 33%;
 }

.alertdiv{
     width: 32%;
     top:10px;
 }

 input {
     border: 0px;
     border-bottom: 3px solid red;
     outline: none;
     background: white;
     padding: 0px;
    
     
 }

 input + label {
        
    position: absolute;
    top: 0px;
    color: rgb(124, 116, 116);
    pointer-events: none;
    transition: .3s linear;
    font-size: 17px;
     }
     
     input:focus + label {
             top: -16px;
             font-size: 15px;
     }
     
     input:required:valid +label {
             top: -16px;
             font-size: 15px;
     }
 
     input:invalid +label {
        top: -16px;
        font-size: 15px;
}
     label{
         left:0%;
     }
 
