<div class="app">
    <h1 class='display-4'>All IT Applications</h1>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope='col'>Name</th>
                <th scope='col'>Technology</th>
                <th scope='col'>Acquisition Date</th>
                <th scope='col'>End of Life</th>
                <th scope='col'>Scalability</th>
                <th scope='col'>Performance</th>
                <th scope='col'>Security Level</th>
                <th scope='col'>Stability</th>
                <th scope='col'>Value for Money</th>
                <th scope='col'>Cost per year</th>
                <th scope='col'>TIME</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let itapplication of itApplications'>
                <td>
                    <a [routerLink]="['../itapplication/', itapplication.id, 'delete']"><img src="assets/delete-icon.png" alt="Delete" height="20" width="20"></a>&nbsp;&nbsp;
                </td>
                <td>
                    <a class="btn btn-light" [routerLink]="['../itapplication/', itapplication.id, 'update']">{{ itapplication.name }}</a>
                </td>
                <td> {{ itapplication.technology }} V{{itapplication.version}} </td>
                <td> {{ itapplication.acquisitionDate }} </td>
                <td> {{ itapplication.endOfLife }} </td>
                <td class="numbers"> {{ itapplication.currentScalability }}/{{ itapplication.expectedScalability }}
                </td>
                <td class="numbers"> {{ itapplication.currentPerformance }}/{{ itapplication.expectedPerformance }}
                </td>
                <td class="numbers"> {{ itapplication.currentSecurityLevel }}/{{ itapplication.expectedSecurityLevel }}
                </td>
                <td class="numbers"> {{ itapplication.currentStability }}/{{ itapplication.expectedStability }} </td>
                <td class="numbers"> {{ itapplication.currentValueForMoney }}</td>
                <td class="numbers"> {{ itapplication.currentTotalCostPerYear }}{{ itapplication.costCurrency }}/{{ itapplication.toleratedTotalCostPerYear }}{{ itapplication.costCurrency }}</td>
                <td class="numbers"> {{ itapplication.timeValue }}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-danger" [routerLink]="['../itapplication/create']">ADD ITAPPLICATION</button>
</div>