<div class="middle blackborder">
    <table>
        <caption></caption>
        <tr>
            <th id="environments">
                <h1>Environments</h1>
            </th>
        </tr>
        <tr *ngFor="let environment of environments">
            <td>{{ environment.id }}</td>
            <td>
                <a href="environments/edit"><img src="assets/edit-icon.png" alt="Edit" width="20" height="20"></a>
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <a (click)="deleteEnvironment()"><img src="assets/delete-icon.png" alt="Delete" width="20" height="20"></a>
            </td>
        </tr>
    </table>
    <div class="center">
        <a href="environments/add">Add environment</a>
    </div>
</div>