<div class="middle blackborder">
    <table>
        <caption></caption>
        <tr>
            <th id="environments">
                <h1>Environments</h1>
            </th>
        </tr>
        <tr *ngFor="let environment of environments">
            <td>{{ environment.name }}</td>
            <td>
                <input (click)="updateEnvironment(environment.id, 'Test')" type="image" src="assets/edit-icon.png"
                    alt="Edit" width="20" height="20">
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <input (click)="deleteEnvironment(environment.id)" type="image" src="assets/delete-icon.png"
                    alt="Delete" width="20" height="20">
            </td>
        </tr>
    </table>
    <div>
        <a href="environments/add">ADD ENVIRONMENT</a>
    </div>
    <app-environment-add></app-environment-add>
</div>