<form class="no-margin centered-page container" [formGroup]="resetpassword" (ngSubmit)="onSubmit()">
    <div class=" div-midden">
        <h3 class="card-title mt-2 text-center">New password</h3>
        <div class="form-group input-group">
            <input input type="password" formControlName="password" required class="form-control" placeholder="New password*">
        </div>
        <div *ngIf="resetpassword.get('password')!.invalid && (resetpassword.get('password')!.dirty || resetpassword.get('password')!.touched)" class="alert alert-danger alertdiv">
            <div *ngIf="resetpassword.get('password')!.errors!.required">
                Password is required.
            </div>
            <div *ngIf="resetpassword.get('password')!.errors!.minlength">
                Password should have minimum 8 characters
            </div>
        </div>
        <div class="form-group input-group">
            <input type="password" formControlName="repeatPassword" required class="form-control" placeholder="Repeat new password*">
        </div>
        <div *ngIf="resetpassword.get('repeatPassword')!.invalid && (resetpassword.get('repeatPassword')!.dirty || resetpassword.get('repeatPassword')!.touched)" class="alert alert-danger alertdiv">
            <div *ngIf="resetpassword.get('repeatPassword')!.errors!.required">
                Password is required.
            </div>
        </div>
        <div *ngIf="resetpassword.hasError('different')" class="alert alert-danger">
            <div>Password and Confirm Password must be match.</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger form-control button" [disabled]=!resetpassword.valid>CHANGE PASSWORD</button>
        </div>
    </div>
</form>