<div id="caps">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th> <!-- DELETE icon -->
        <th scope="col">NAME</th>
        <th scope="col">LEVEL</th>
        <th scope="col">PACE OF CHANGE</th>
        <th scope="col">TARGET OPERATION MODEL</th>
        <th scope="col">RESOURCES QUALITY</th>
        <th scope="col">INFO QUALITY</th>
        <th scope="col">APP FIT</th>
        <th scope="col"></th> <!-- ADD sub cap -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cap of capabilities">
        <td>
          <a [routerLink]="[cap.id, 'delete']">
            <img src='assets/delete-icon.png' alt="Delete" width='20' height='20'>
          </a>
        </td>
        <td>
          <a class="btn btn-light" [routerLink]="[cap.id, 'update']" role="button">
            {{ cap.name }}
          </a>
        </td>
        <td class="numbers">{{ cap.level }}</td>
        <td>{{ cap.paceOfChange }}</td>
        <td>{{ cap.tom }}</td>
        <td class="numbers">{{ cap.resourcesQuality }}</td>
        <td class="numbers">{{ cap.informationQuality }}</td>
        <td class="numbers">{{ cap.applicationFit }}</td>
        <td>
          <a class="btn btn-danger" [routerLink]="[cap.id, 'create']" role="button" *ngIf="cap.level == '1'">ADD CAP Lv2</a>
          <a class="btn btn-danger" [routerLink]="[cap.id, 'create']" role="button" *ngIf="cap.level == '2'">ADD CAP Lv3</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="btn btn-danger" [routerLink]="['create']" role="button">ADD CAPABILITY Lv1</a>
  </div>
</div>