<main class="main">
    <div class="flex-container">
        <div class="flex-item">
            <!-- TABLE -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th> <!-- DELETE icon -->
                        <th scope="col"></th> <!-- EDIT icon -->
                        <th scope="col">NAME</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">FULL TIME EQUIVALENT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of resources">
                        <!-- DELETE icon -->
                        <td>
                            <input type="image" src="assets/delete-icon.png" alt="Delete" width='20' height='20'
                                (click)="deleteResource(res.id)" />
                        </td>
                        <!-- EDIT icon -->
                        <td>
                            <input type="image" src="assets/edit-icon.png" alt="Edit" width='20' height='20'
                                (click)="show('resource-edit', res)" />
                        </td>
                        <td>
                            <a class="btn btn-light" role="button">
                                {{ res.name }}
                            </a>
                        </td>
                        <td>{{ res.description }}</td>
                        <td>{{ res.fullTimeEquivalentYearlyValue }}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <br>
                <div class="flex-container" style="margin-bottom: 0px;">
                    <div class="flex-item" *ngIf="!showResAdd">
                        <button type="button" class="btn btn-danger" (click)="show('resource-add')">
                            ADD RESOURCE
                        </button>
                    </div>
                    <!--<div class="flex-item hide-btn" *ngIf="showResAdd || showResEdit">
                        <button type="button" class="btn btn-danger" (click)="hideAll()">
                            HIDE FORM
                        </button>
                    </div>-->   
                </div>
            </div>
        </div>
        <div class="flex-item">
            <app-resource-add *ngIf="showResAdd"></app-resource-add>
            <app-resource-edit *ngIf="showResEdit" [resCurrentValues]="resCurrentValues"></app-resource-edit>
        </div>
    </div>
</main>