<main class="main">
    <h1>Resources</h1>
    <br>
    <div class="flex-container">
        <div class="flex-item">
            <!-- TABLE -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th> <!-- DELETE icon -->
                        <th scope="col"></th> <!-- EDIT icon -->
                        <th scope="col">NAME</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">FULL TIME EQUIVALENT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of resources">
                        <!-- DELETE icon -->
                        <td>
                            <input type="image" src="assets/delete-icon.png" alt="Delete" width='20' height='20'
                                (click)="show('resource-delete', res)" />
                        </td>
                        <!-- EDIT icon -->
                        <td>
                            <input id="edit" type="image" src="assets/edit-icon.png" alt="Edit" width='20' height='20'
                                (click)="show('resource-edit', res)" />
                        </td>
                        <td>
                            <a class="btn btn-light" role="button" (click)="showLinkedCapabilities(res.id)">
                                {{ res.name }}
                            </a>
                        </td>
                        <td>{{ res.description }}</td>
                        <td>{{ res.fullTimeEquivalentYearlyValue }}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <br>
                <div class="flex-container" style="margin-bottom: 0px;">
                    <div class="flex-item" *ngIf="!showResourceAdd">
                        <button type="button" class="btn btn-danger" (click)="show('resource-add')">
                            ADD RESOURCE
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Child comps -->
        <div class="flex-item">
            <!-- resource-add.component -->
            <app-resource-add *ngIf="showResourceAdd"></app-resource-add>
            <!-- resource-edit.component -->
            <app-resource-edit *ngIf="showResourceEdit" [resourceCurrentValues]="resourceCurrentValues"></app-resource-edit>
            <!-- resource-delete.component -->
            <app-resource-delete *ngIf="showResourceDelete" [resourceCurrentValues]="resourceCurrentValues"></app-resource-delete>
            <!-- Linked caps right panel -->
            <div id="linkedCaps" *ngIf="showLinkedCaps">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="3">LINKED CAPABILITIES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let capres of capresources">
                            <td>
                                <a class="btn btn-light" role="button"
                                    (click)="setCapabilityCookie(capres.capability.id)"
                                    [routerLink]="['../capabilities/update']">
                                    {{ capres.capability.name }}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>