<div class="container">
    <h1>Add IT Application</h1>
    <form [formGroup]="itapplication" (ngSubmit)="onSubmit()">
        <div class='form-group w-50'>
            <div class="custom"> <input type='text' formControlName='name' required placeholder="Name" />
                <label>Name</label>
            </div>
            <div *ngIf="itapplication.get('name')!.invalid && (itapplication.get('name')!.dirty || itapplication.get('name')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="itapplication.get('name')!.errors!.required"> Name is required. </div>
            </div> <small class="text-muted"> </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='text' formControlName='technology' required placeholder="Technology Name" /> <label>Technology</label>
            </div>
            <div *ngIf="itapplication.get('technology')!.invalid && (itapplication.get('technology')!.dirty || itapplication.get('technology')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="itapplication.get('technology')!.errors!.required"> Technology is required. </div>
            </div>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='text' formControlName='version' required placeholder="1.1.x" />
                <label>Version</label>
            </div>
            <div *ngIf="itapplication.get('version')!.invalid && (itapplication.get('version')!.dirty || itapplication.get('version')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="itapplication.get('version')!.errors!.required"> Version is required. </div>
            </div>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='date' formControlName='acquisitionDate' required /> <label>Acquisition
                    Date</label> </div>
            <div *ngIf="itapplication.get('acquisitionDate')!.invalid && (itapplication.get('acquisitionDate')!.dirty || itapplication.get('acquisitionDate')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="itapplication.get('acquisitionDate')!.errors!.required"> Acquisition date is required.
                </div>
            </div>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='date' formControlName='endOfLife' /> <label>End of Life</label>
            </div>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='currentScalability' placeholder="0 to 5" />
                <label>Current
                    Scalability</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='expectedScalability' placeholder="0 to 5" />
                <label>Expected
                    Scalability</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='currentPerformance' placeholder="0 to 5" />
                <label>Current
                    Performance</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='expectedPerformance' placeholder="0 to 5" />
                <label>Expected
                    Performance</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='currentSecurityLevel' placeholder="0 to 5" />
                <label>Current
                    Security Level</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='expectedSecurityLevel' placeholder="0 to 5" />
                <label>Expected Security Level</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='currentStability' placeholder="0 to 5" />
                <label>Current
                    Stability</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='expectedStability' placeholder="0 to 5" />
                <label>Expected
                    Stability</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <select class="select1" formControlName='costCurrency'>
                    <option *ngFor="let type of ecostCurrency | keyvalue" [ngValue]="type.value">{{type.value}}</option>
                </select> <label>Cost Currency</label> </div>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='number' formControlName='currentValueForMoney' placeholder="0 to 5" />
                <label>Current
                    Value for Money</label>
            </div>
            <small class="text-muted"> Number between 0 to 5 (1 = poor, 5 = good) </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='text' formControlName='currentTotalCostPerYear' placeholder="1234.56" />
                <label>Current
                    Total Cost per Year</label>
            </div>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <input type='text' formControlName='toleratedTotalCostPerYear' placeholder="12345.67" />
                <label>Tolerated Total Cost per Year</label>
            </div>
        </div>
        <div class='form-group w-50'>
            <div class="custom"> <select class="select2" formControlName='timeValue'>
                    <option *ngFor="let type of etimeValue | keyvalue" [ngValue]="type.value">{{type.value}}</option>
                </select> <label>TIME Value</label>
            </div>
        </div>
        <button type="submit" class="btn btn-danger form-control" [disabled]="!itapplication.valid">Add</button>
    </form>
</div>