<main class="main">
    <div class="flex-container">
        <div class="flex-item">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" *ngIf="(jwt.checkRole() != 'lezer')"></th>
                            <th scope="col">NAME</th>
                            <th scope="col">DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of projects">
                            <td *ngIf="(jwt.checkRole() != 'lezer')">
                                <a [routerLink]="['../project/delete/', project.id]">
                                    <img src='assets/delete-icon.png' alt="Delete" width='20' height='20'>
                                </a>
                            </td>
                            <td>
                                <a *ngIf="(jwt.checkRole() != 'lezer')" class="btn btn-light" role="button" [routerLink]="['../project/edit/', project.id]">
                                    {{ project.name }}
                                </a>
                                <a *ngIf="(jwt.checkRole() == 'lezer')">
                                    {{ project.name }}
                                </a>
                            </td>
                            <td>{{ project.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button *ngIf="(jwt.checkRole() != 'lezer')" type="button" class="btn btn-danger" [routerLink]="['../project/create']">ADD PROJECT</button>
</main>