<main class="main">
    <div class="flex-container">
        <div class="flex-item">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th *ngIf="(jwt.checkRole() != 'reader')" scope="col"></th>
                            <th scope="col">NAME</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let capabilityproject of capabilityprojects">
                            <td *ngIf="(jwt.checkRole() != 'reader')">
                                <a [routerLink]="['../capability-project/delete/', capabilityproject.id]">
                                    <img src='assets/delete-icon.png' alt="Delete" width='20' height='20'>
                                </a>
                            </td>
                            <td>
                                <a *ngIf="(jwt.checkRole() != 'reader')" class="btn btn-light" role="button" [routerLink]="['/project/edit/', capabilityproject.project.id]">
                                    {{ capabilityproject.project.name }}
                                </a>
                                <a *ngIf="(jwt.checkRole() == 'reader')" class="btn btn-light" role="button" [routerLink]="['/program/']">
                                    {{ capabilityproject.project.name }}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button *ngIf="(jwt.checkRole() != 'reader')" type="button" class="btn btn-danger" [routerLink]="['../capability-project/create']">ADD PROJECT</button>
</main>