.center {
    text-align: center;
    vertical-align: middle;
}

h5, label {
    margin: 0px;
}

.red {
    color: red;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.form-control.ng-touched.ng-valid {
    border: 2px solid green;
}