<div class="card">
    <div class="flex-container card-header">
        <div class="flex-item">
            <div class="title">
                <h5><strong>EDIT {{ resCurrentValues.name }}</strong></h5>
            </div>
        </div>
        <div class="flex-item">
            <div class="hide">
                <input type="image" src="assets/exit-icon.png" alt="Hide" height="30" width="30" (click)="hide()">
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- Form -->
        <form [formGroup]="resEditForm" (ngSubmit)="onSubmit()">
            <!-- Name -->
            <div class="form-group">
                <label for="name">Name <span class="red">*</span></label>
                <input id="name" type="text" class="form-control" formControlName="name" required>
                <!-- Name field validation errors -->
                <div class="alert alert-danger center" *ngIf="(name!.dirty || name!.touched) && name!.invalid">
                    <div *ngIf="name!.errors!.required">
                        Name is required.
                    </div>
                    <div *ngIf="name!.errors!.pattern">
                        Name should only consist out of characters from the alphabet.
                    </div>
                </div>
            </div>
            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" rows="5" class="form-control" formControlName="description"></textarea>
            </div>
            <!-- Full Time Equivalent Yearly Value -->
            <div class="form-group">
                <label for="fullTimeEquivalentYearlyValue">Full Time Equivalent yearly value</label>
                <input id="fullTimeEquivalentYearlyValue" type="text" class="form-control"
                    formControlName="fullTimeEquivalentYearlyValue">
                <!-- Full Time Equivalent yearly value field validation errors -->
                <div class="alert alert-danger center" *ngIf="(fteyv!.dirty || fteyv!.touched) && fteyv!.invalid">
                    <div *ngIf="fteyv!.errors!.pattern">
                        Full Time Equivalent yearly value should only consist out of numbers.
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="center">
                <button type="submit" class="btn btn-success" [disabled]="resEditForm.invalid">EDIT</button>
            </div>
        </form>
    </div>
</div>