<div style="width: 100%;">
<div id="divLeftHalf">
  <br>
    <div class="flex-container-1" id="div">
      <ng-container class='container' *ngFor='let capabilityLevel1 of capabilitiesLevel1'>
        <div attr.id="{{capabilityLevel1.id}}" class="div2"> {{capabilityLevel1.name}}
          <div  class="flex-container-2" [ngStyle]="filter === 'ITApplication' ? applyITApplicationFilter(capabilityLevel1) : filter== 'StrategyItem' ? applySelectedStrategyItem(capabilityLevel1) : { 'border-color': 'black' }">
          <ng-container class='container' *ngFor='let capabilityLevel2 of capabilityLevel1.subcapabilities'>
            <div class="div3">{{capabilityLevel2.name}}
            <div attr.id="{{capabilityLevel2.id}}" class="flex-container-3" [ngStyle]="filter === 'ITApplication' ? applyITApplicationFilter(capabilityLevel2) : filter== 'StrategyItem' ? applySelectedStrategyItem(capabilityLevel2) : { 'border-color': 'black' }">
              
              <ng-container class='container' *ngFor='let capabilityLevel3 of capabilityLevel2.subcapabilities'>
                <div attr.id="{{capabilityLevel3.id}}" class="flex-container-4" [ngStyle]="filter === 'ITApplication' ? applyITApplicationFilter(capabilityLevel3) : filter== 'StrategyItem' ? applySelectedStrategyItem(capabilityLevel3) : { 'border-color': 'black' }">
                  {{capabilityLevel3.name}}
                </div>
              </ng-container>
            </div>
          </div>
          </ng-container>
        </div>
      </div>
      </ng-container>
    </div>
    <br> 
</div>
<div id="divRightHalf">
  <br>
  <div id="divMenu">
    <h4>Export</h4>
    <form (ngSubmit)="generatePDF()">
      <br>
      <button type="submit">Export to PDF</button>
    </form>
    <form (ngSubmit)="generatePowerPoint()">
      <br>
      <button type="submit">Export to PowerPoint</button>
    </form>
    <form (ngSubmit)="generateCSV()">
      <br>
      <button type="submit">Export to CSV</button>
    </form>
    <h4>Options</h4>
    <form (ngSubmit)="setITApplicationFilter()">
      <br>
      <button type="submit">Click to see the average IT score of all capabilities.</button>
    </form>
    <br>
    <h6>Choose Strategy, then select Strategy Item.</h6>
    <div [formGroup]="strategy">
      <select class="custom-select" (change)="changeStrategy()" formControlName="strategyName">
        <option value="" disabled>Choose your Strategy</option>
        <option *ngFor="let strategy of strategies  | keyvalue" [ngValue]="strategy.value">{{strategy.value}}</option>
      </select>
    </div>
    <br>
    <h6>Choose Strategy Item to see how high the strategic emphasis is on each linked capability.</h6>
    <div [formGroup]="strategyItem">
      <select class="custom-select" (change)="changeStrategyItem()" formControlName="strategyItemName">
        <option value="" disabled>Choose your Strategy Item</option>
        <option *ngFor="let strategyItem of strategyItems  | keyvalue" [ngValue]="strategyItem.value">
          {{strategyItem.value}}</option>
      </select>
    </div>
    <form (ngSubmit)="generateEntireMap()">
      <br>
      <button type="submit">Show Capability Map without filters.</button>
    </form>
    <br>
    <br>
    <br>
   
  </div>
</div> 
</div>
