<div class="strs">
    <div>
        <form action="" id="strAddForm"></form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th *ngIf="(jwt.checkRole() != 'lezer')" scope="col"></th>
                    <!-- DELETE icon -->
                    <th scope="col">NAME</th>
                    <th scope='col'>TIMEFRAME FROM</th>
                    <th scope='col'>TIMEFRAME TO</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let strategy of strategies">
                    <td *ngIf="(jwt.checkRole() != 'lezer')">
                        <a [routerLink]="['../strategies/', strategy.id, 'delete']">
                            <img src='assets/delete-icon.png' alt="Delete" width='20' height='20'>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a [routerLink]="['../strategies/',strategy.id, 'update']">
                            <img src="assets/edit-icon.png" alt="Update" height="20" width="20">
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-light" [routerLink]="['../strategies/' + strategy.id + '/strategyItems']" role="button">{{
              strategy.name }} </a>
                    </td>
                    <td> {{ strategy.timeframeFrom }} </td>
                    <td> {{ strategy.timeframeTo }} </td>
                </tr>
            </tbody>
        </table>
        <div>
            <br>
            <button *ngIf="(jwt.checkRole() != 'lezer')" type="button" class="btn btn-danger" [routerLink]="['../strategies/create']">ADD STRATEGY</button>
        </div>
        <br>
    </div>

</div>