<div class="card">
    <div class="flex-container card-header">
        <div class="flex-item">
            <div class="title">
                <h5><strong>DELETE IT APPLICATION LINK</strong>?</h5>
            </div>
        </div>
        <div class="flex-item">
            <div class="hide">
                <input type="image" src="assets/exit-icon.png" alt="Hide" height="30" width="30" (click)="hide()">
            </div>
        </div>
    </div>
    <div class="card-body center">
        <button type="button" class="btn btn-primary" (click)="hide()">CANCEL</button>
        &nbsp;
        <button type="button" class="btn btn-danger" (click)="deleteCapability_ITApplication()">DELETE</button>
    </div>
  </div>