.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 35px;
}

.hide {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 35px;
}

h5,
label {
    margin: 0px;
}

.red {
    color: red;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.form-control.ng-touched.ng-valid {
    border: 2px solid green;
}