<main class="main">
    <div class="flex-container-hor">
        <div class="flex-item">
            <div class="card">
                <div class="card-header center" *ngIf="capCurrentValues != null">
                    <h5><strong>EDIT {{ capCurrentValues.name }}</strong></h5>
                </div>
                <div class="card-body">
                    <!-- Form -->
                    <form class="form" [formGroup]="capEditForm" (ngSubmit)="onSubmit()" *ngIf="capEditForm != null">
                        <!-- Name -->
                        <div class="form-group">
                            <label for="name">Name <span class="red">*</span></label>
                            <input id="name" type="text" class="form-control" formControlName="name" required>
                            <!-- Name field validation errors -->
                            <div class="alert alert-danger center" *ngIf="name!.invalid && (name!.dirty || name!.touched)">
                                <div *ngIf="name!.errors!.required">
                                    Name is required.
                                </div>
                                <div *ngIf="name!.errors!.pattern">
                                    Name should only consist out of characters from the alphabet.
                                </div>
                            </div>
                        </div>
                        <!-- Pace of Change -->
                        <div class="form-group">
                            <label for="paceOfChange">Pace of Change <span class="red">*</span></label>
                            <select id="paceOfChange" class="form-control" formControlName='paceOfChange' required>
                                <option *ngFor="let type of ePoc | keyvalue" [ngValue]="type.value">{{ type.value }}
                                </option>
                            </select>
                            <!-- Pace of Change dropdown validation errors -->
                            <div class="alert alert-danger center" *ngIf="poc!.invalid && (poc!.dirty || poc!.touched)">
                                <div *ngIf="poc!.errors!.required">
                                    Pace of Change is required.
                                </div>
                            </div>
                        </div>
                        <!-- Target Operation Model -->
                        <div class="form-group">
                            <label for="targetOperationModel">Target Operation Model <span class="red">*</span></label>
                            <select id="targetOperationModel" class="form-control" formControlName='targetOperationModel' required>
                                <option *ngFor="let type of eTom | keyvalue" [ngValue]="type.value">{{ type.value }}
                                </option>
                            </select>
                            <!-- Target Operation Model dropdown validation errors -->
                            <div class="alert alert-danger center" *ngIf="tom!.invalid && (tom!.dirty || tom!.touched)">
                                <div *ngIf="tom!.errors!.required">
                                    Target Operation Model is required.
                                </div>
                            </div>
                        </div>
                        <!-- Resources Quality -->
                        <div class="form-group">
                            <label for="resourcesQuality">Resources quality</label>
                            <input id="resourcesQuality" type="text" class="form-control" formControlName="resourcesQuality">
                            <!-- Resources Quality field validation errors -->
                            <div class="alert alert-danger center" *ngIf="rq!.invalid">
                                <div *ngIf="rq!.errors!.pattern">
                                    Resources quality should be a number between 1 and 5:<br> (1 = poor, 3 = fair, 5 = good)
                                </div>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="center">
                            <button type="submit" class="btn btn-success" [disabled]="capEditForm.invalid">
                                EDIT
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="card-header center">
                <h5><strong>LINKS</strong></h5>
            </div>
            <div class="flex-container-ver">
                <div class="flex-item-table">
                    <table class="table center" id="table-top">
                        <thead>
                            <tr>
                                <th scope="col">STRATEGY ITEMS</th>
                                <th scope="col">IT APPLICATIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a class="btn btn-success" [routerLink]="['']" role="button">EDIT</a>
                                </td>
                                <td>
                                    <a class="btn btn-success" [routerLink]="['/capability-application']" role="button">
                                        EDIT
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-item-table">
                    <table class="table center" id="table-bottom">
                        <thead>
                            <tr>
                                <th scope="col">PROGRAMS/PROJECTS</th>
                                <th scope="col">RESOURCES</th>
                                <th scope="col">BUSINESS PROCESSES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a class="btn btn-success" [routerLink]="['']" role="button">EDIT</a>
                                </td>
                                <td>
                                    <a class="btn btn-success" [routerLink]="['/capability-resource']" role="button">
                                        EDIT
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-success" [routerLink]="['/capability-businessprocess']" role="button">EDIT</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>