.main {
    margin: 25px;
}

.flex-container-hor {
    display: flex;
}

.flex-container-ver {
    display: flex;
    flex-direction: column;
    height: 391px;
}

.flex-item {
    flex: 1;
    border: 2px solid red;
}

.flex-item:first-child {
    margin-right: 25px;
}

.flex-item-table {
    flex: 1;
    display: flex;
}

.center {
    text-align: center;
}

h5, label {
    margin: 0px;
}

#table-top th {
    border-top: 0px;
    width: 50%;
}

#table-bottom th {
    border-top: 0px;
    width: 33.33%;
}

.red {
    color: red;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.form-control.ng-touched.ng-valid {
    border: 2px solid green;
}