<div>
    <br>
    <p>Please review and accept or refuse the request.</p>
    <div>
        <span>Vat number: {{ company.vatNumber }}</span><br>
        <span>Name: {{ company.companyName }}</span><br>
        <span>Email: {{ company.email }}</span> <br>
        <span>Street: {{ company.streetName }}</span> <br>
        <span>House number: {{ company.houseNumber }}</span> <br>
        <span>Postcode: {{ company.postcode }}</span> <br>
        <span>City: {{ company.city }}</span> <br>
        <span>Country: {{ company.country }}</span> <br>
        <span>Activity: {{ company.businessActivity }}</span> <br>
        <span>Tax Office: {{ company.taxOffice }}</span> <br>
    </div>
    <button (click)="accept()">
        Accept application
    </button>
    <button (click)="decline()">
        Decline application
    </button>
</div>