<div class = 'container-fluid'>   
  <nav class='navbar navbar-expand-lg navbar-dark' style="background-color: crimson;">
   <div class='container-fluid'>
     <!-- Moet er hier een logo komen of is 'LEAP' ok ? -->
    <a class="navbar-brand" class="test">LEAP</a>
   <ul class='navbar-nav'>
    <div class="verticalLine">
    <li class='nav-item active'>
      <!-- EnvName moet dynamisch opgevuld worden -->
      <a class="nav-link">EnvName</a>
    </li>
    </div>
       <li class='nav-item active'>
           <a class='nav-link' [routerLink] = "['capabilities']">Capabilities</a>
       </li>
       <li class='nav-item active'>
          <a class='nav-link'>Strategy/Strategy Items</a>
        </li>
        <li class='nav-item active'>
          <a class='nav-link'>IT-Applications</a>
        </li>
        <li class='nav-item active'>
          <a class='nav-link'>Programs/Projects</a>
        </li>
        <li class='nav-item active'>
          <a class='nav-link'>Resources</a>
        </li>
        <li class='nav-item active'>
          <a class='nav-link'>Business Processes</a>
        </li>
        <div class="verticalLine">
        <li class='nav-item active'>
          <a class='nav-link'>Export</a>
        </li>
        </div>
        <li class='nav-item active'>
          <!-- User moet dynamisch opgevuld worden met de username -->
          <a class='nav-link'><i class="fa fa-fw fa-user"></i>User</a>
        </li>
   </ul>
   </div>
  </nav>
  <br/><br/>
  <router-outlet></router-outlet>
</div>