<div class="container">
    <h1>Add Capability</h1>

<form [formGroup]="capability" (ngSubmit)="onSubmit()">
    <div class='form-group w-50'>
        <label>Name</label>
        <input type='text' class='form-control' formControlName='name' 
          placeholder='Enter capability name (e.g. Capability Name)' formControlName='name' />
        <div *ngIf="capability.get('name')!.invalid && (capability.get('name')!.dirty || capability.get('name')!.touched)"
          class="alert alert-danger">
          <div *ngIf="capability.get('name')!.errors!.required">
            Name is required.
          </div>
          <div *ngIf="capability.get('name')!.errors!.pattern">
            Name should only consist out of characters from the alphabet.
          </div>
          </div>    
    </div> 
    <div class='form-group w-50'>
        <label>Level</label>
        <input type='text' class='form-control' formControlName='level' 
          placeholder='Enter capability level (e.g. 2)' formControlName='level' />
          <div *ngIf="capability.get('level')!.invalid && (capability.get('level')!.dirty || capability.get('level')!.touched)"
          class="alert alert-danger">
          <div *ngIf="capability.get('level')!.errors!.required">
            Level is required.
          </div>
          <div *ngIf="capability.get('level')!.errors!.pattern">
            Level should consist out of a single number.
          </div>
          </div>
    </div>  
    <div class='form-group w-50'>
        <label>Pace Of Change</label>
        <select class="form-control" formControlName='paceOfChange'>
          <option *ngFor="let type of ePaceOfChange | keyvalue" [ngValue]="type.value">{{type.value}}</option>
        </select>
        <div *ngIf="capability.get('paceOfChange')!.invalid && (capability.get('paceOfChange')!.dirty || capability.get('paceOfChange')!.touched)"
          class="alert alert-danger">
          <div *ngIf="capability.get('paceOfChange')!.errors!.required">
            Pace Of Change is required.
          </div>
        </div>
    </div>  
    <div class='form-group w-50'>
        <label>tOM</label>
        <select class="form-control" formControlName='tom'>
          <option *ngFor="let type of eTom | keyvalue" [ngValue]="type.value">{{type.value}}</option>
        </select>
        <div *ngIf="capability.get('tom')!.invalid && (capability.get('tom')!.dirty || capability.get('tom')!.touched)"
          class="alert alert-danger">
          <div *ngIf="capability.get('tom')!.errors!.required">
            tOM is required.
          </div>
          </div>
    </div>  
    <div class='form-group w-50'>
        <label>Resources Quality</label>
        <input type='text' class='form-control' formControlName='resourcesQuality' 
          placeholder='Enter capability resources quality (e.g. 8)' formControlName='resourcesQuality' />
        <div *ngIf="capability.get('resourcesQuality')!.invalid && (capability.get('resourcesQuality')!.dirty || capability.get('resourcesQuality')!.touched)"
          class="alert alert-danger">
          <div *ngIf="capability.get('resourcesQuality')!.errors!.required">
            Resources Quality is required.
          </div>
          <div *ngIf="capability.get('resourcesQuality')!.errors!.pattern">
            Resources Quality should consist out of a single number.
          </div>
        </div>
    </div>  
    <div class='form-group w-50'>
        <label>Information Quality</label>
        <input type='text' class='form-control' formControlName='informationQuality' 
          placeholder='Enter capability information quality (e.g. 6.4)' formControlName='informationQuality' />
        <div *ngIf="capability.get('informationQuality')!.invalid && (capability.get('informationQuality')!.dirty || capability.get('informationQuality')!.touched)"
          class="alert alert-danger">
          <div *ngIf="capability.get('informationQuality')!.errors!.required">
            Information Quality is required.
          </div>
          <div *ngIf="capability.get('informationQuality')!.errors!.pattern">
            Information Quality should consist out of a decimal number seperated by '.' .
          </div>
        </div>
    </div>  
    <div class='form-group w-50'>
        <label>Application Fit</label>
        <input type='text' class='form-control' formControlName='applicationFit' 
          placeholder='Enter capability application fit (e.g. 7.5)' formControlName='applicationFit' />
        <div *ngIf="capability.get('applicationFit')!.invalid && (capability.get('applicationFit')!.dirty || capability.get('applicationFit')!.touched)"
          class="alert alert-danger">
          <div *ngIf="capability.get('applicationFit')!.errors!.required">
            Application Fit is required.
          </div>
          <div *ngIf="capability.get('applicationFit')!.errors!.pattern">
            Application Fit should consist out of a decimal number seperated by '.' .
          </div>
        </div>
    </div>   
    <button type="submit" [disabled]="!capability.valid">Add</button>
</form>
</div>
