<div class="container">
    <h1>Add IT Application to capability</h1><br>
    <form [formGroup]="capabilityApplication" (ngSubmit)="onSubmit()">
        <div class='form-group w-50'>
            <div class="custom">
                <select class="select1" formControlName='application' required>
            <option *ngFor="let application of itApplications | keyvalue" [ngValue]="application.value">{{application.value}}</option>
          </select>
                <label>IT application</label>
            </div>
            <br>
            <div *ngIf="capabilityApplication.get('application')!.invalid && (capabilityApplication.get('application')!.dirty || capabilityApplication.get('application')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="capabilityApplication.get('application')!.errors!.required">
                    An application is required.
                </div>
            </div>
            <small class="text-muted">
          Select application name (e.g. IT Application Name)
        </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom">
                <input type='number' formControlName='businessEfficiencySupport' required />
                <label>Business Efficiency Support</label>
            </div>
            <br>
            <div *ngIf="capabilityApplication.get('businessEfficiencySupport')!.invalid && (capabilityApplication.get('businessEfficiencySupport')!.dirty || capabilityApplication.get('businessEfficiencySupport')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="capabilityApplication.get('businessEfficiencySupport')!.errors!.required">
                    Business Efficiency Support is required.
                </div>
                <div *ngIf="capabilityApplication.get('businessEfficiencySupport')!.errors!.pattern">
                    Business Efficiency Support should be a number between 1 and 5. (1 = poor, 3 = fair, 5 = good).
                </div>
            </div>
            <small class="text-muted">
          Enter Business Efficiency Support (e.g. 4)
        </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom">
                <input type='number' formControlName='businessFunctionalCoverage' required />
                <label>Business Functional Coverage</label>
            </div>
            <br>
            <div *ngIf="capabilityApplication.get('businessFunctionalCoverage')!.invalid && (capabilityApplication.get('businessFunctionalCoverage')!.dirty || capabilityApplication.get('businessFunctionalCoverage')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="capabilityApplication.get('businessFunctionalCoverage')!.errors!.required">
                    Business Functional Coverage is required.
                </div>
                <div *ngIf="capabilityApplication.get('businessFunctionalCoverage')!.errors!.pattern">
                    Business Functional Coverage should be a number between 1 and 5. (1 = poor, 3 = fair, 5 = good).
                </div>
            </div>
            <small class="text-muted">
          Enter Business Functional Coverage (e.g. 4)
        </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom">
                <input type='number' formControlName='businessCorrectness' required />
                <label>Business Correctness</label>
            </div>
            <br>
            <div *ngIf="capabilityApplication.get('businessCorrectness')!.invalid && (capabilityApplication.get('businessCorrectness')!.dirty || capabilityApplication.get('businessCorrectness')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="capabilityApplication.get('businessCorrectness')!.errors!.required">
                    Business Correctness is required.
                </div>
                <div *ngIf="capabilityApplication.get('businessCorrectness')!.errors!.pattern">
                    Business Correctness should be a number between 1 and 5. (1 = poor, 3 = fair, 5 = good).
                </div>
            </div>
            <small class="text-muted">
          Enter Business Correctness (e.g. 4)
        </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom">
                <input type='number' formControlName='businessFuturePotential' required />
                <label>Business Future Potential</label>
            </div>
            <br>
            <div *ngIf="capabilityApplication.get('businessFuturePotential')!.invalid && (capabilityApplication.get('businessFuturePotential')!.dirty || capabilityApplication.get('businessFuturePotential')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="capabilityApplication.get('businessFuturePotential')!.errors!.required">
                    Business Future Potential is required.
                </div>
                <div *ngIf="capabilityApplication.get('businessFuturePotential')!.errors!.pattern">
                    Business Future Potential should be a number between 1 and 5. (1 = poor, 3 = fair, 5 = good).
                </div>
            </div>
            <small class="text-muted">
          Enter Business Future Potential (e.g. 4)
        </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom">
                <input type='number' formControlName='informationCompleteness' required />
                <label>Information Completeness</label>
            </div>
            <br>
            <div *ngIf="capabilityApplication.get('informationCompleteness')!.invalid && (capabilityApplication.get('informationCompleteness')!.dirty || capabilityApplication.get('informationCompleteness')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="capabilityApplication.get('informationCompleteness')!.errors!.required">
                    Information Completeness is required.
                </div>
                <div *ngIf="capabilityApplication.get('informationCompleteness')!.errors!.pattern">
                    Information Completeness should be a number between 1 and 5. (1 = poor, 3 = fair, 5 = good).
                </div>
            </div>
            <small class="text-muted">
          Enter Information Completeness (e.g. 4)
        </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom">
                <input type='number' formControlName='informationCorrectness' required />
                <label>Information Correctness</label>
            </div>
            <br>
            <div *ngIf="capabilityApplication.get('informationCorrectness')!.invalid && (capabilityApplication.get('informationCorrectness')!.dirty || capabilityApplication.get('informationCorrectness')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="capabilityApplication.get('informationCorrectness')!.errors!.required">
                    Information Correctness is required.
                </div>
                <div *ngIf="capabilityApplication.get('informationCorrectness')!.errors!.pattern">
                    Information Correctness should be a number between 1 and 5. (1 = poor, 3 = fair, 5 = good).
                </div>
            </div>
            <small class="text-muted">
          Enter Information Correctness (e.g. 4)
        </small>
        </div>
        <div class='form-group w-50'>
            <div class="custom">
                <input type='number' formControlName='informationAvailability' required />
                <label>Information Availability</label>
            </div>
            <br>
            <div *ngIf="capabilityApplication.get('informationAvailability')!.invalid && (capabilityApplication.get('informationAvailability')!.dirty || capabilityApplication.get('informationAvailability')!.touched)" class="alert alert-danger alertdiv">
                <div *ngIf="capabilityApplication.get('informationAvailability')!.errors!.required">
                    Information Availability is required.
                </div>
                <div *ngIf="capabilityApplication.get('informationAvailability')!.errors!.pattern">
                    Information Availability should be a number between 1 and 5. (1 = poor, 3 = fair, 5 = good).
                </div>
            </div>
            <small class="text-muted">
          Enter Information Availability (e.g. 4)
        </small>
        </div>
        <button type="submit" class="btn btn-danger form-control" [disabled]="!capabilityApplication.valid">Add</button>
        <br><br><br><br><br>
    </form>
</div>