<form [formGroup]="businessprocess" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-header center">
            <h5><strong>EDIT BUSINESS PROCESS</strong></h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="name">Name <span class="red">*</span></label>
                <input id="name" type="text" class="form-control" formControlName="name" required>
                <div class="alert alert-danger center" *ngIf="(businessprocess.get('name')!.dirty || businessprocess.get('name')!.touched) && businessprocess.get('name')!.invalid">
                    <div *ngIf="businessprocess.get('name')!.errors!.required">
                        Name is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" rows="5" class="form-control" formControlName="description"></textarea>
            </div>
            <div class="center">
                <button type="submit" class="btn btn-success" [disabled]="businessprocess.invalid">EDIT</button>
            </div>
        </div>
    </div>
</form>