<!-- Form -->
<form [formGroup]="strItemAddForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="flex-container card-header">
      <div class="flex-item">
        <div class="title">
      <h5><strong>ADD STRATEGY ITEM</strong></h5>
    </div>
  </div>
    <div class="flex-item">
      <div class="hide">
          <input type="image" src="assets/exit-icon.png" alt="Hide" height="30" width="30" (click)="hide()">
      </div>
  </div>
  </div>
    <div class="card-body">
      <!-- Name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" formControlName="name" required>
        <!-- Name field validation errors -->
        <div class="alert alert-danger center" *ngIf="name!.invalid && (name!.dirty || name!.touched)">
          <div *ngIf="name!.errors!.required">
            Name is required.
          </div>
          <div *ngIf="name!.errors!.pattern">
            Name should only consist out of characters from the alphabet.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Description</label>
        <input id="name" type="text" class="form-control" formControlName="description">
       
        
      </div>
      <!-- Submit button -->
      <div class="center">
        <button type="submit" class="btn btn-success" [disabled]="strItemAddForm.invalid">ADD</button>
      </div>
    </div>
  </div>
</form>
