<form class="no-margin centered-page container" [formGroup]="resetpassword" (ngSubmit)="onSubmit()">
    <div class=" div-midden">
        <h3 class="card-title mt-2 text-center">Reset Password</h3>
        <div class="form-group input-group">
            <input type="email" class="form-control" formControlName="email">
        </div>
        <a [routerLink]="['/login']">Login</a>
        <div class="form-group">
            <button type="submit" class="btn btn-danger form-control button" [disabled]=!resetpassword.valid>Request reset</button>
        </div>
    </div>
</form>