<div id="envs">
    <div>
        <table class="table">
            <thead>
                <tr class="middle-div">
                    <th scope="col" colspan="3">ENVIRONMENTS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let env of environments">
                    <td>
                        <a class="btn btn-light" [routerLink]="[env.id + '/capabilities']" role="button">
                            {{ env.name }}
                        </a>
                    </td>
                    <td class="middle-div">
                        <a [routerLink]="[env.id + '/update']">
                            <img src="assets/edit-icon.png" alt="Update" height="20" width="20">
                        </a>
                    </td>
                    <td class="middle-div">
                        <a [routerLink]="[env.id + '/delete']">
                            <img src="assets/delete-icon.png" alt="Delete" height="20" width="20">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="middle-div">
            <a class="btn btn-danger" [routerLink]="['create']" role="button">CREATE ENVIRONMENT</a>
        </div>
    </div>
</div>