<div class="middle">
    <table>
        <caption></caption>
        <tr>
            <th id="environments">
                <h1>Environments</h1>
            </th>
        </tr>
        <tr *ngFor="let environment of environments">
            <td><a [routerLink]="['/capabilities']">{{ environment.name }}</a></td>
            <td>
                <a [routerLink]="['/environments/' + environment.id + '/update']"><img src="assets/edit-icon.png"
                        alt="Delete" height="20" width="20"></a>
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <a [routerLink]="['/environments/' + environment.id + '/delete']"><img src="assets/delete-icon.png"
                        alt="Delete" height="20" width="20"></a>
                &nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    </table>
    <div>
        <br>
        <a [routerLink]="['/environments/create']">ADD ENVIRONMENT</a>
    </div>
</div>